/* Helper CLasses */
* {
  box-sizing: border-box;
  overflow: auto;
}
h1, h2, h3 {
  text-align: center;
  overflow: hidden;
}
ul li {
  margin-bottom: 5px;
}
footer {
  width: 100%;
  margin-top: 30px;
  background-color: #21618c;
  position: fixed;
  bottom: 0;
  color: #ffffff;
}
.important {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.glyphicon {
  overflow: hidden;
}

/* Body */
body {
  background-color: #aed6f1;
}
.jumbotron {
  margin: 0;
  background-color: #000055;
  color: #ffffff;
}
.navbar {
  background-color: #21618c;
}
#navbar-collapse-1 a {
  color: #ffffff;
}
