/* Helper CLasses */
* {
  box-sizing: border-box;
  overflow: auto;
}
h1, h2, h3 {
  text-align: center;
}

/* Body */
body {
  background-color: #aed6f1;
}
.jumbotron {
  margin: 0;
  background-color: #000055;
  color: #ffffff;
}
.navbar {
  background-color: #21618c;
}
#navbar-collapse-1 a {
  color: #ffffff;
}
